body{
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    background-color: black;
}
.container {
  color: black;
  background-color: white;
  padding-top: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
div{
    color: black;
    font-family: Arial, Times, serif;
}
p {
    color: black;
}
.img {
    height: 200;
    width:200;
}
.presentation {
    float:left;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: white;
    float:center;
}
